.top-text
  p.font-weight-bold
    |
     モチベーションには波がある。<br>
  p
    |
      やる気のあるときに、やる気のない時のことを考えておこう！<br>
      もし、やるべきことをサボってしまった時に、<br>
  p
    |
      ○○をサボりましたー
  p
    |
      みたいにツイート。
  p
    |
      もし、サボってしまっても、周りとサボった事実を共有することで、<br>
      次、サボらない確率が上がるはず！<br>
  p
    |
      Twitterログインして、タスク、期限、サボった時のツイート内容を登録するだけです！<br>
