.top-text
  p
    |
     モチベーションには波がある。<br>
  p
    |
      誰しも波が高い時に目標などを設定する。<br>
  p
    |
      しかし、その波が引くと、目標を立てた時とは別人格の自分が姿を表し、<br>
      目標達成は遠のいていく。。<br>
  p
    |
      やりたいことを決めたのは、波が高い時の自分。<br>
      でも、それをやるのは、波が高くない時の自分のことが多い。<br>
  p
    |
      何度も目標を設定し、達成できずを繰り返す。。
